{% liquid
  assign filter_length = 0

  for filter in collection.filters
    for filter_value in filter.active_values
      assign filter_length = forloop.length
    endfor
  endfor
%}

<div class="filter-actives">
  {% if filter_length != 0 %}
    <a
      href="{{ collection.url }}?sort_by={{ collection.sort_by }}"
    >
      {{ 'products.facets.clear_all' | t }}
    </a>
  {% endif %}

  {% for filter in collection.filters %}
    {% if filter.type == "price_range" %}
      {% if filter.min_value.value != nil or filter.max_value.value != nil %}
        <div>
          {% assign min_value = filter.min_value.value | default: 0 %}
          {% assign max_value =
            filter.max_value.value | default: filter.range_max
          %}
          {{ min_value | money }} - {{ max_value | money }}

          <a href="{{ filter.url_to_remove }}">✕</a>
        </div>
      {% endif %}
    {% else %}
      {% for filter_value in filter.active_values %}
        <span>
          {{ filter_value.label }}

          <a href="{{ filter.url_to_remove }}">✕</a>
        </span>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>