{% comment %}
  Pagination

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page
    reload it takes you to wherever you've placed your anchor tag.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination'
      paginate: paginate
      anchor: '#yourID'
    %}
  {% endpaginate %}

{% endcomment %}

{%- if paginate.parts.size > 0 -%}
  <div class="pagination">
    <nav
      class="pagination--nav"
      role="navigation"
      aria-label="{{ 'general.pagination.label' | t }}"
    >
      <ul role="list">
      {%- if paginate.previous -%}
        <li class="caret">
          <a
            class="caret--prev {{ anchor }}"
            title="{{ 'general.pagination.previous' | t }}"
            href="{{ paginate.previous.url }}{{ anchor }}"
            aria-label="{{ 'general.pagination.previous' | t }}">
            <!-- eslint-disable max-len -->
              <svg
                aria-hidden="true"
                focusable="false"
                role="presentation"
                viewBox="0 0 10 6"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                  fill="currentColor"
                />
              </svg>
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        <!-- eslint-disable max-len -->
        <li>
          {%- if part.is_link -%}
            <a
              title="{{ 'general.pagination.page' | t: number: part.title }}"
              href="{{ part.url }}{{ anchor }}"
              aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
            >
              {{ part.title }}
            </a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span
                aria-current="page"
                aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
              >
                {{ part.title }}
              </span>
            {%- else -%}
              <span>
                {{ part.title }}
              </span>
            {%- endif -%}
          {%- endif -%}
        </li>
        <!-- eslint-enable max-len -->
      {%- endfor -%}

      {%- if paginate.next -%}
        <li class="caret">
          <a
            class="caret--next"
            title="{{ 'general.pagination.next' | t }}"
            href="{{ paginate.next.url }}{{ anchor }}"
            aria-label="{{ 'general.pagination.next' | t }}"
          >
            <!-- eslint-disable max-len -->
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              viewBox="0 0 10 6"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                fill="currentColor"
              />
            </svg>
          </a>
        </li>
      {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%}
