<div
  id="{{ id }}"
  class="form__textfield form__textfield--select {{ class }}"
  data-type="{{ name }}"
>
  <select
    name="{{ name }}"
    class="variants--select-tag js-option"
  >
    {{ options }}
    <!-- eslint-enable max-len -->
  </select>
</div>
