{% comment %}
  Renders slide component

  Accepts:
  - section: {Object} **REQUIRED** Section object
  - content: {HTML} **REQUIRED** Internal sliders **init with for (iteration)
  - pagination: {Boolean} show default pagination
  - navigation: {Boolean} show default navigation
  - perpage: {Number} items per page
  - wrapper: {String} parent className - You specific your styles sheets
  - auto: {boolean} If auto move slider
  - mobile_grid: {boolean} If need a grid card on mobile
  - perpage_mobile: {Number} # slides per page on mobile
  - space_between: {Number} Space(px) between slides
  - speed: {Number} If prop auto is true. Speed of movement
  - critical: {Boolean} CLS - Critical section - Render critical

  Use this structure in content prop:
  {% capture slider_content %}
    {% for item in collection %}
      <swiper-slide>
        slide {{ item.index }}
      </swiper-slide>
    {% endfor %}
  {% endcapture %}

  Usage:
  {% render 'slider-component',
    section: section,
    content: slider_content,
    navigation: true,
    perpage: 4
  %}
{% endcomment %}

{% assign id_slider = section.id
  | split: '__'
  | last
  | remove: '-'
  | prepend: 'swiperEl'
%}

<div
  class="{{ wrapper | default: 'slider__wrapper' }}"
>
  <swiper-container
    init="false"
    class="{% unless critical %}slider-js{% endunless %} {{ id_slider }}"
    data-pagination={{ pagination | default: false }}
    data-navigation={{ navigation | default: false }}
    data-auto={{ auto | default: false }}
    data-speed={{ speed | default: false }}
    data-slides={{ perpage | default: 4 }}
    data-slides-mobile={{ perpage_mobile | default: 1 }}
    data-slides-tablet={{ perpage_tablet | default: 2 }}
    data-spacing={{ space_between | default: 20 }}
    data-loop={{ loop | default: false }}
    data-free-mode={{ free_mode | default: false }}
  >
    {{ content }}
  </swiper-container>
    
  {% if pagination %}
    <div
      class="swiper-pagination swiper-pagination-bullets {{ id_slider }}"
    >
    </div>
  {% endif %}

  {% if navigation %}
    <button
      type="button"
      class="swiper-button swiper-button-prev {{ id_slider }}"
      aria-label="Arrow prev"
    >
      {% render "button-arrow" %}
    </button>
    <button
      type="button"
      class="swiper-button swiper-button-next {{ id_slider }}"
      aria-label="Arrow next"
    >
      {% render "button-arrow", direction: "right" %}
    </button>
  {% endif %}
</div>

{% if critical %}
  {% render 'critical-swiper-config',
    id_slider: id_slider,
    pagination: pagination,
    navigation: navigation,
    perpage: perpage,
    auto: auto,
    mobile_grid: mobile_grid,
    perpage_mobile: perpage_mobile,
    space_between: space_between
    speed: speed
  %}
{% endif %}
