<div class="footer-blocks">
  <div class="grid wrapper">
    {% for block in section.blocks %}
      {% case block.type %}

        {% when "link_list" %}
          <nav
            class="footer-blocks__linklist"
            role="navigation"
            aria-label="Footer"
            aria-labelledby="footer-title"
          >
            {% if block.settings.heading != blank %}
              <h2 class="footer-blocks__title">
                {{ block.settings.heading }}
              </h2>
            {% endif %}
            {% if block.settings.menu != blank %}
              <ul class="footer-blocks__list">
                {% for link in linklists[block.settings.menu].links %}
                  <li>
                    <a href="{{ link.url }}" title="{{ link.title }}">
                      {{ link.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </nav>

        {% when "newslatter" %}
          <div class="footer-blocks_newsletter">
            {% if block.settings.newsletter_heading != blank %}
              <span class="footer-blocks__title">
                {{ block.settings.newsletter_heading }}
              </span>
            {% endif %}
            {% if block.settings.newsletter_sub != blank %}
              <span class="footer-blocks__subtitle">
                {{ block.settings.newsletter_sub }}
              </span>
            {% endif %}
            {%- form 'customer', id: 'contact-footer', class: "newslatter-form" -%}
              <input
                type="hidden"
                name="contact[tags]"
                value="newsletter"
              />

              <div class="form__textfield footer-blocks__newslatter">
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="contact-footer-error"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="contact-footer-success"
                  {% endif %}
                  placeholder="{{ 'newsletter.label' | t }}"
                  required
                />
                <label for="NewsletterForm--{{ section.id }}">
                  {{ 'newsletter.label' | t }}
                </label>
                <button
                  type="submit"
                  name="commit"
                  id="Subscribe"
                  aria-label="{{ 'newsletter.button_label' | t }}"
                >
                  {% render 'icon-arrow' %}
                </button>
              </div>

              {%- if form.errors -%}
                <small role="alert" aria-live="polite" id="contact-footer-error">
                  {{ form.errors.translated_fields['email'] | capitalize }}
                  {{ form.errors.messages['email'] }}
                </small>
              {%- else -%}
                <h3
                  role="alert" aria-live="polite"
                  id="contact-footer-success-exist"
                  class="error-js"
                  tabindex="-1"
                >
                  ✓ {{ 'newsletter.registered' | t }}
                </h3>
              {%- endif -%}

              {%- if form.posted_successfully? -%}
                <h3
                  role="alert" aria-live="polite"
                  id="contact-footer-success"
                  tabindex="-1"
                >
                  ✓ {{ 'newsletter.success' | t }}
                </h3>
              {%- endif -%}
            {%- endform -%}
          </div>

        {% when "info" %}
          <div class="footer-blocks__info">
            {% if block.settings.heading %}
              <h2 class="footer-blocks__title">
                {{ block.settings.heading }}
              </h2>
            {% endif %}
            {% if block.settings.sub %}
              <p class="footer-blocks__subtitle">
                {{ block.settings.sub }}
              </p>
            {% endif %}
          </div>

      {% endcase %}
    {% endfor %}
  </div>
</div>

<div>
  {% if section.settings.social_media %}
    {% render 'media-icons'
      order_media: 'facebook twitter pinterest'
    %}
  {% endif %}

  {% if section.settings.sub_footer != blank %}
  <span>
    {{ section.settings.sub_footer }}
  </span>
  {% endif %}
</div>

<!-- eslint-disable max-len -->
{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "footer",
  "class": "footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo footer"
        },
        {
          "type": "text",
          "id": "about_us_title",
          "default": "About us title",
          "label": "About us title"
        },
        {
          "type": "html",
          "id": "about_us_description",
          "default": "About us description",
          "label": "About us description"
        },
        {
          "type": "text",
          "id": "heading_categories",
          "default": "Categories text",
          "label": "Categories text"
        },
        {
          "type": "link_list",
          "id": "menu_categories",
          "label": "Categories links"
        },
        {
          "type": "text",
          "id": "info_title",
          "default": "Información",
          "label": "Info title"
        },
        {
          "type": "text",
          "id": "info_quotes_subtitle",
          "default": "Correo cotizaciones",
          "label": "Quotes title"
        },
        {
          "type": "text",
          "id": "info_phone_subtitle",
          "default": "Teléfonos contacto",
          "label": "Phone title"
        },
        {
          "type": "text",
          "id": "info_phone_primary",
          "default": "3144895712",
          "label": "Primary phone"
        },
        {
          "type": "text",
          "id": "info_phone_secondary",
          "default": "3187722655",
          "label": "Secondary phone"
        }
      ]
    },
    {
      "type": "info",
      "name": "Copyright",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Powered by En-stock",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "sub",
          "default": "Promocionales en-stock",
          "label": "Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "sub_footer",
      "default": "© 2024, promocioanales en-stock",
      "label": "Copyrigth title"
    },
    {
      "type": "checkbox",
      "id": "social_media",
      "label": "Display social media snippet",
      "default": true
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
