<div class="footer-blocks">
  <div class="grid wrapper">
    {% for block in section.blocks %}
      {% case block.type %}

        {% when "header" %}

          <div class="footer__logo">
            logo image
          </div>


        {% when "link_list" %}
          <nav
            class="footer-blocks__linklist"
            role="navigation"
            aria-label="Footer"
            aria-labelledby="footer-title"
          >
            {% if block.settings.heading != blank %}
              <h2 class="footer-blocks__title">
                {{ block.settings.heading }}
              </h2>
            {% endif %}
            {% if block.settings.menu != blank %}
              <ul class="footer-blocks__list">
                {% for link in linklists[block.settings.menu].links %}
                  <li>
                    <a href="{{ link.url }}" title="{{ link.title }}">
                      {{ link.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </nav>

        {% when "info" %}
          <div class="footer-blocks__info">
            {% if block.settings.heading %}
              <h2 class="footer-blocks__title">
                {{ block.settings.heading }}
              </h2>
            {% endif %}
            {% if block.settings.sub %}
              <p class="footer-blocks__subtitle">
                {{ block.settings.sub }}
              </p>
            {% endif %}
          </div>

      {% endcase %}
    {% endfor %}
  </div>
</div>

<div>
  {% if section.settings.social_media %}
    {% render 'media-icons'
      order_media: 'facebook twitter pinterest'
    %}
  {% endif %}

  {% if section.settings.sub_footer != blank %}
  <span>
    {{ section.settings.sub_footer }}
  </span>
  {% endif %}
</div>

<!-- eslint-disable max-len -->
{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "footer",
  "class": "footer",
  "blocks": [
    {
      "type": "header",
      "name": "Header footer",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo footer"
        }
      ]
    },
    {
      "type": "info_about",
      "name": "Info About Us",
      "settings": [
        {
          "type": "text",
          "id": "about_us_title",
          "default": "About us title",
          "label": "About us title"
        },
        {
          "type": "html",
          "id": "about_us_description",
          "default": "About us description",
          "label": "About us description"
        }
      ]
    },
    {
      "type": "contact_info",
      "name": "Contact info",
      "settings": [
        {
          "type": "text",
          "id": "info_title",
          "default": "Información",
          "label": "Info title"
        },
        {
          "type": "text",
          "id": "info_quotes_subtitle",
          "default": "Correo cotizaciones",
          "label": "Quotes title"
        },
        {
          "type": "text",
          "id": "info_phone_subtitle",
          "default": "Teléfonos contacto",
          "label": "Phone title"
        },
        {
          "type": "text",
          "id": "info_phone_primary",
          "default": "3144895712",
          "label": "Primary phone"
        },
        {
          "type": "text",
          "id": "info_phone_secondary",
          "default": "3187722655",
          "label": "Secondary phone"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "Menú categories",
      "settings": [
        {
          "type": "text",
          "id": "categories_menu_title",
          "default": "Información",
          "label": "Info title"
        },
        {
          "type": "link_list",
          "id": "menu_categories",
          "label": "Categories links"
        }
      ]
    },
    {
      "type": "copyright",
      "name": "Copyright",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Powered by En-stock",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "sub",
          "default": "Promocionales en-stock",
          "label": "Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "sub_footer",
      "default": "© 2024, promocioanales en-stock",
      "label": "Copyrigth title"
    },
    {
      "type": "checkbox",
      "id": "social_media",
      "label": "Display social media snippet",
      "default": true
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "header"
      },
      {
        "type": "info_about"
      },
      {
        "type": "contact_info"
      },
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
