{% liquid
  assign logo = section.settings.logo | image_url: width: 150
  assign alt_logo = 'Logo ' | append: shop.name
%}

<div class="header__main">

  {% capture content_logo %}
    {% if section.settings.logo != blank %}
      <img
        src="{{ logo }}"
        alt="{{ alt_logo }}"
        width="150"
        height="35"
      />
    {% else %}
      {{ shop.name }}
    {% endif %}
  {% endcapture %}

  <div class="header__main--logo">
    {% render 'link'
      url: routes.root_url,
      content: content_logo,
      title: alt_logo
    %}
  </div>

  <div class="header__main---search">

    <input type="search" name="search" id="search">

  </div>

  <div class="header__main--quotes">

    <span class="subcontainer">
      {{ section.settings.email_icon | image_url: width: 24 | image_tag }}
      <span class="subcontainer_title">
        {{ section.settings.email_heading }}
      </span>
    </span>

    <span>
      <a href="mailto:{{ section.settings.email_quotes }}">
        {{ section.settings.email_quotes }}
      </a>
    </span>

  </div>

  <div class="header__main--wp">

    <span class="subcontainer">
      {{ section.settings.wp_icon | image_url: width: 24 | image_tag }}
      <span class="subcontainer_title">
        {{ section.settings.wp_heading}}
      </span>
    </span>

    <span class="wp-sub">
      <a href="tel:{{ section.settings.wp_quotes_first }}">
        {{ section.settings.wp_quotes_first }} -
      </a>
      <a href="tel:{{ section.settings.wp_quotes_second }}">
        {{ section.settings.wp_quotes_second }}
      </a>
    </span>

  </div>


  {% render 'user-nav' %}

  {% render 'site-nav-mobile',
    linklistsAll: linklists[section.settings.menu]
  %}

</div>

<div class="header__menu">

  {% render 'mega-menu',
  menu: section.settings.header_menu %}

</div>

<div class="header__topbar">
  {% render 'announcement-bar' %}
</div>


{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "class": "header sticky",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "image_picker",
      "id": "email_icon",
      "label": "Email icon"
    },
    {
      "type": "text",
      "id": "email_heading",
      "default": "Correo cotizaciones",
      "label": "Email Heading"
    },
    {
      "type": "text",
      "id": "email_quotes",
      "default": "contacto@promocionalesenstock.com.co",
      "label": "Quotes email"
    },
    {
      "type": "image_picker",
      "id": "wp_icon",
      "label": "Whatsapp icon"
    },
    {
      "type": "text",
      "id": "wp_heading",
      "default": "Teléfonos contacto",
      "label": "Whatsapp Heading"
    },
    {
      "type": "number",
      "id": "wp_quotes_first",
      "default": 3144895712,
      "label": "Quotes first number"
    },
    {
      "type": "number",
      "id": "wp_quotes_second",
      "default": 3187722655,
      "label": "Quotes second number"
    }
  ]
}
{% endschema %}
